<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Formulário Livros</title>
</head>
<body>
<div layout:fragment="conteudo">
    <form method="post" th:action="@{/livros}" th:object="${livro}">

        <div th:if="${livro?.id != null}">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" th:field="*{id}">
        </div>

        <div>
            <label for="titulo">Título:</label>
            <input id="titulo" type="text" th:field="*{titulo}">
            <!-- Exibe a mensagem de erro de validação do título -->
            <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" style="color: red;"></span>
        </div>

        <div>
            <label for="autor">Autor:</label>
            <input id="autor" type="text" th:field="*{autor}">
            <!-- Exibe a mensagem de erro de validação do autor -->
            <span th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" style="color: red;"></span>
        </div>

        <div>
            <input type="submit" value="Salvar">
        </div>
        <a th:href="@{/livros}">Meus livros</a>
    </form>
</div>
</body>
</html>