<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Formulario Livros</title>
</head>
<body>
<div layout:fragment="conteudo">
    <form method="post" action="/livros">
       <div>
           <label for="titulo">Titulo:</label>
        <input id="titulo" name="titulo" type="text"><br>
       </div>

        <div>
        <label for="Autor">Autor:</label>
        <input id="autor" name="autor" type="text"><br>
        </div>

        <div>
        <input type="submit">
        </div>
        <a href="/livros">Meus livros</a>
    </form>
</div>
</body>
</html>