<!doctype html>
<html lang="en"
      xmlns:th="thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template.html}">
<head>
    <title>Livros</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Minha lista de livros</h1>
    <table>
    <thead>
    <tr>
    <th>TITULO</th>
    <th>AUTOR</th>
    <th>AÇÕES</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livro : ${lista}">
    <td th:text="${livro.titulo}"></td>
    <td th:text="${livro.autor}"></td>
    </tr>

    </tbody>
    </table>

    <a href="/livros/formulario">Cadastrar livro</a>
</div>
</body>
</html>